<!DOCTYPE HTML>
<html>
<head>
    <title>스프링부트 웹페이지 테스트</title>
    <meta http-equiv="Content-Type" content="text/html; charset="UTF-8" />
</head>
<body>
    <h1>스프링부터 샘플 페이지 제장 중</h1>
</body>
</html>